{% extends 'base.html' %}
{% block content %}
<h1>Our Products</h1>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Image</th>
        <th scope="col">Product Name</th>
        <th scope="col">Price</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody class="align-middle">
      <tr>
        <td><img class="table-image"src="https://pisces.bbystatic.com/image2/BestBuy_US/images/products/6501/6501491_bd.jpg"></td>
        <td>LG: 65" Class C2 Series OLED evo 4K UHD Smart webOS TV<</td>
        <td> $1,399.99</td>
        <td><a class="btn btn-info">Learn More</a></td>
      </tr>
      <tr>
        <th></th>
        <td></td>
        <td></td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>


{% endblock %}